%section.clearfix.inner_body
  .pc.cm
    = render 'profile_pics'
    #m-container.fl.w100
      -# photo's list
      = render partial: "albums/photo", collection: @photos, locals: { from: "my_wall" }

    %nav#page-nav
      = link_to "", my_wall_next_batch_path(page: 1)

    -# .loading_feed.feed_box.fl.w100.p10
    -#   = image_tag "preloader.png", alt: "Loading ...", class: "rotate"
    -#   %span
    -#     Loading
    -#     %blink ...


:javascript
  jQuery(function($) {
      var container = $('#m-container');
      container.masonry({
        itemSelector: '.feed_box'
      });
      $('.like_btn').click(function(){
          $(this).parents('.f_bottom').find('.like_box').fadeToggle(0,function(){
              container.masonry();
          });
          return false;
      });

  });

  load_more($("#m-container"));

