%section.clearfix.inner_body
  .pc.cm
    = render 'profile_pics'
    #m-container.fl.w100
      -# photo's list
      = render partial: "albums/photo", collection: @photos, locals: { from: "my_wall" }

    %nav#page-nav
      = link_to "", my_wall_next_batch_path(page: 1)

:javascript
  jQuery(function($) {
      var container = $('#m-container');
      container.masonry({
        itemSelector: '.feed_box'
      });
      $('.like_btn').click(function(){
        liked = $(this).data("liked")
        if(liked){
          return false;
        }
        else{
          $(this).parents('.f_bottom').find('.like_box').fadeToggle(0,function(){
              container.masonry();
          });
          return false;
        }
      });

  });

  load_more($("#m-container"));

:coffee
  toggle_like()

