!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Hi,
    %p
      I would like to invite you on BuddyPix to check our latest Card and Images. Please click on this link to access:
      %br
      #{card_url @card}
    %p
      Regards
    %p
      #{@user.user_name}

