%footer.clearfix
  .pc.cm
    %nav.fl
      %ul
        %li
          = link_to "ABOUT US", about_us_path
        %li
          %a{:href => "#"} SUPPORT
        %li
          %a{:href => "#"} BLOG
        %li
          = link_to "PRIVACY", privacy_path
        %li
          = link_to "TERMS", terms_path
        %li
          %span © 2014 BuddyPix
    .fr.social_link
      %a.fa.fa-twitter{:href => "#", :title => "twitter"}
      %a.fa.fa-facebook{:href => "#", :title => "facebook"}
      %a.fa.fa-google{:href => "#", :title => "facebook"}
