%header.scale
  .pc.cm
    %figure.fl.logo
      %img{:alt => "Logo", :src => "assets/img/buddypix_logo.png"}/
    / logo
    %nav.fr.hide
      / navigation side
      %a{:href => "#"} Login
    / navigation side
    %nav.fr
      / navigation side
      %aside.fl.mr10.hide_less_1024
        %a{:href => "#"}> Profile
          |  
        %a.mr10{:href => "#"} My card
        %a.btn.inline.mr10{:href => "#"} Create New cARD
        %a.btn.inline.search-btn.mr10{:href => "#"}
          %i.fa.fa-search
      %aside.fl.drop_nav
        .expand_nav_point.hide_less_480
          %figure.round.mt10.mr10.fl.img_fill
            %img{:src => "assets/img/dummy_img/profile_pic.jpg"}/
          %span.name.mr10 Hi! Malisa
          %i.pe-7s-angle-down
        .fr.hide.view_less_480
          %i.fa.fa-navicon.min_nav_btn
        %ul.drop_nav_links.hide
          %li.hide.view_less_480.p10
            .expand_nav_point
              %figure.round.mr10.img_fill
                %img{:src => "assets/img/dummy_img/profile_pic.jpg"}/
              %span.name.mr10 Hi! Malisa
          %li.hide.view_less_1024
            %a{:href => "#"} Profile
          %li.hide.view_less_1024
            %a{:href => "#"} My Card
          %li.hide.view_less_1024
            %a{:href => "#"} Create New Card
          %li.hide.view_less_1024
            %a{:href => "#"} Search
          %li
            %a{:href => "#"} Account Setting
          %li
            %a{:href => "#"} Alerts
          %li
            %a{:href => "#"} Support
          %li
            %a{:href => "#"} Sign Out
    / navigation side
%section.clearfix.inner_body
  .pc.cm.mt20
    %hgroup.ac
      %h2 About Us
    %article.mt20.cover_box.p20
      %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc. sit amet, consectetur adipiscing elit. Fusce at risus at lacus laoreet mollis sed id elit. Integer bibendum lobortis velit, eleifend commodo dui facilisis nec. Aliquam mi sapien, ultrices a ultrices non, sodales ut diam. Fusce semper risus eu magna placerat pulvinar.
      %p Nullam ac odio non ligula semper auctor. Fusce semper risus eu magna placerat pulvinar. Nullam ac odio non ligula semper auctor. Aenean at dui dui, non scelerisque nisi. Morbi ullamcorper dapibus nisl, ullamcorper fringilla eros pulvinar et. Nulla rhoncus elementum rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque a erat velit, venenatis porttitor mauris.
      %p Fusce semper risus eu magna placerat pulvinar. Nullam ac odio non ligula semper auctor. Fusce semper risus eu magna placerat pulvinar. Nullam ac odio non ligula semper auctor. Fusce semper risus eu magna placerat pulvinar. Nullam ac odio non ligula semper auctor. Aenean at dui dui, non scelerisque nisi. Morbi ullamcorper dapibus nisl, ullamcorper fringilla eros pulvinar et. Nulla rhoncus elementum rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque a erat velit, venenatis porttitor mauris.
      %p Fusce semper risus eu magna placerat pulvinar. Nullam ac odio non ligula semper auctor. Fusce semper risus eu magna placerat pulvinar. Nullam ac odio non ligula semper auctor. Fusce semper risus eu magna placerat pulvinar. Nullam ac odio non ligula semper auctor. Aenean at dui dui, non scelerisque nisi. Morbi ullamcorper dapibus nisl, ullamcorper fringilla eros pulvinar et. Nulla rhoncus elementum rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque a erat velit, venenatis porttitor mauris.
  -# / Javascirpts
  -# %script{:src => "assets/js/jquery-1.9.0.min.js", :type => "text/javascript"}
  -# %script{:src => "assets/js/waypoints.min.js"}
  -# %script{:src => "assets/js/img_liquid/imgLiquid-min.js"}
  -# %script{:src => "assets/js/chossen/chosen.jquery.js"}
  -# %script{:src => "assets/js/responsive_tabs/easyResponsiveTabs.js"}
  -# %script{:src => "assets/js/mscrollar/jquery.mCustomScrollbar.js"}
  -# %script{:src => "assets/js/jquery-ui-1.9.2.custom.min.js"}
  -# %script{:src => "assets/js/icheck/icheck.min.js"}
  -# %script{:src => "assets/js/grid_gallery/modernizr.custom.js"}
  -# %script{:src => "assets/js/grid_gallery/imagesloaded.pkgd.min.js"}
  -# %script{:src => "assets/js/grid_gallery/masonry.pkgd.min.js"}
  -# %script{:src => "assets/js/grid_gallery/classie.js"}
  -# %script{:src => "assets/js/grid_gallery/cbpGridGallery.js"}
  -# %script{:src => "assets/js/functions.js"}
  -# :javascript
  -#   jQuery(function($) {
        
  -#   });

