%header.scale
  .pc.cm
    %figure.fl.logo
      %img{:alt => "Logo", :src => "assets/img/buddypix_logo.png"}/
    / logo
    %nav.fr.hide
      / navigation side
      %a{:href => "#"} Login
    / navigation side
    %nav.fr
      / navigation side
      %aside.fl.mr10.hide_less_1024
        %a{:href => "#"}> Profile
          |  
        %a.mr10{:href => "#"} My card
        %a.btn.inline.mr10{:href => "#"} Create New cARD
        %a.btn.inline.search-btn.mr10{:href => "#"}
          %i.fa.fa-search
      %aside.fl.drop_nav
        .expand_nav_point.hide_less_480
          %figure.round.mt10.mr10.fl.img_fill
            %img{:src => "assets/img/dummy_img/profile_pic.jpg"}/
          %span.name.mr10 Hi! Malisa
          %i.pe-7s-angle-down
        .fr.hide.view_less_480
          %i.fa.fa-navicon.min_nav_btn
        %ul.drop_nav_links.hide
          %li.hide.view_less_480.p10
            .expand_nav_point
              %figure.round.mr10.img_fill
                %img{:src => "assets/img/dummy_img/profile_pic.jpg"}/
              %span.name.mr10 Hi! Malisa
          %li.hide.view_less_1024
            %a{:href => "#"} Profile
          %li.hide.view_less_1024
            %a{:href => "#"} My Card
          %li.hide.view_less_1024
            %a{:href => "#"} Create New Card
          %li.hide.view_less_1024
            %a{:href => "#"} Search
          %li
            %a{:href => "#"} Account Setting
          %li
            %a{:href => "#"} Alerts
          %li
            %a{:href => "#"} Support
          %li
            %a{:href => "#"} Sign Out
    / navigation side
%section.home_img.clearfix.scale
  .pc.cm
    %aside.fl.w50.article_side.bs
      %h1 Share your story
      %h2 Share experiences together with photo groups for hobbies, events, or everyday life.
      %a{:href => "#"}
    %aside.fl.w50.img_side.ac.figure_img
      %img{:alt => "app demo", :src => "assets/img/iphone_app_on_hand.png"}/
%section.clearfix
  .pc.cm
    .table_row
      / table row
      %figure.fl.w50
        .tab_cell.p10.figure_img
          %img{:alt => "slide 1", :src => "assets/img/slide_1.png"}/
      %aside.fl.w50
        %article.tab_cell
          %h2 Massa urna vestibulum erat erat nec odio
          %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc.
    / table row
    .table_row
      / table row
      %figure.fr.w50
        .tab_cell.p10.figure_img
          %img{:alt => "slide 1", :src => "assets/img/slide_2.png"}/
      %aside.fl.w50
        %article.tab_cell.p10
          %h2 Massa urna vestibulum erat erat nec odio
          %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc.
    / table row
    .table_row
      / table row
      %figure.fl.w50
        .tab_cell.p10.figure_img
          %img{:alt => "slide 1", :src => "assets/img/slide_3.png"}/
      %aside.fl.w50
        %article.tab_cell.p10
          %h2 Massa urna vestibulum erat erat nec odio
          %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc.
    / table row
    .table_row
      / table row
      %figure.fr.w50
        .tab_cell.p10.figure_img
          %img{:alt => "slide 1", :src => "assets/img/slide_4.png"}/
      %aside.fl.w50
        %article.tab_cell.p10
          %h2 Massa urna vestibulum erat erat nec odio
          %p Fusce nisl turpis, consequat sed leo vitae, lacinia cursus ex. In enim metus, convallis ut risus ac, ultricies placerat leo. Suspendisse at lectus sit amet leo dictum euismod et quis nunc.
    / table row
