%section.clearfix.inner_body
  .pc.cm
    #msg
      - if flash[:danger]
        .msg.danger
          %i.fa.fa-times
          = flash[:danger]

    = render "form", action_text: "Create card", url_path: cards_path

:coffee
  $("#album_name").on "blur", ->
    value = $(this).val()
    $.ajax(
      type: "post",
      url: "/cards/validate_name",
      data: { name: value },
      dataType: "script"
    
    )


