%section.clearfix.inner_body
  .pc.cm
    #msg
      - if flash[:danger]
        .msg.danger
          %i.fa.fa-times
          = flash[:danger]

    = render "form", action_text: "Create card", url_path: cards_path

:coffee
  $("input[type='submit']").on "click", (e)->
    value = $("#album_name").val()
    if !value
      e.preventDefault()
      alert "should add a name"
    else
      if $("#album_private_true").is(":checked")
        $(e.target.form).submit()
      else
        validate_name(e, value)
        e.preventDefault()
    e.preventDefault()

