%section.clearfix.inner_body
  .pc.cm
    #msg
      - if flash[:danger]
        .msg.danger
          %i.fa.fa-times
          = flash[:danger]

    = render "form", action_text: "Create card", url_path: cards_path

:coffee
  validate_name()

  $("input[type='submit']").on "click", (e)->
    value = $("#album_name").val()
    if value
      $.ajax(
        type: "post",
        url: "/cards/validate_name",
        data: { name: value },
        dataType: "json",
        success: (data)->
          if !data.status
            e.preventDefault()
            alert "name been token"
          else
            $(e.target.form).submit()
      )
    else
      e.preventDefault()
      alert "should add a name"
    e.preventDefault()

